@charset "utf-8";

/* 드래그 색상 */
::selection {
    background-color: #4E79E8;
    color: #F9F991;
}

body {
    font-family: var(--pretendard);
    background-color: #F7F7F7;
    overflow-x: hidden;
}

main {
    padding: 0 50px;
}

a {
    text-decoration: none;
}

/* nav */
nav {
    border-bottom: 5px solid #000;
    padding: 15px 50px;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
}
nav.on {
    background-color: #fff;
}
nav h1 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}
nav h1 span {
    color: #4E79E8;
    text-decoration: line-through;
}
nav .gnb {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    top: 65px; left: 0;
    display: none;
}
nav .gnb.active {
    display: block;
}
nav .gnb li {
    border-bottom: 1px solid #fff;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
nav .gnb li a {
    color: #fff;
    display: block;
    padding: 10px 50px;
    margin: 0 auto;
    text-align: right;
    position: relative;
}
nav .toggleBtn {
    display: block;
    background: url(./images/bars-solid.svg) no-repeat 50% / contain;
    text-indent: -9999px;
    width: 30px; height: 30px;
}

/* main */
/* project container */
.projectContainer {
    padding: 80px 0 132px 0;
    text-transform: capitalize;
}
.projectContainer .prjTitle h2 {
    font-weight: 700;
    font-size: 70px;
    transform: translateY(-20px);
}
.projectContainer .prjTitle a {
    display: inline-block;
    background-color: #4E79E8;
    color: #F9F991;
    padding: 8px;
    border-radius: 30px;
    font-size: 20px;
}
.projectContainer .prjBox {
    margin-top: 50px;
    margin-bottom: 25px;
    border: 5px solid #000;
}
.projectContainer .prjBox .prj {
    border-bottom: 5px solid #000; 
    padding: 200px 0 80px 0;
    cursor: pointer;
    position: relative;
}
.projectContainer .prjBox .prj h3 {
    position: absolute;
    top: 20px; left: 20px;
    font-size: 1.5em;
    font-weight: 600;
}
.projectContainer .prjBox .prj h4 {
    position: absolute;
    bottom: 10px; right: 15px;
    font-size: 4em;
    font-weight: 500;
}
.projectContainer .prjBox .prj1 {
    background-image: radial-gradient(circle, #1818FF, #fff);
}
.projectContainer .prjBox .prj2 {
    background-image: radial-gradient(circle, #56E04D, #fff);
}
.projectContainer .prjBox .prj3 {
    border: none;
    background-image: radial-gradient(circle, #FF248A, #fff);
}
.projectContainer .prjBox .prj4 {
    background-image: radial-gradient(circle, #FCFB56, #fff);
}
.projectContainer .prjBox .prj5 {
    background-image: radial-gradient(circle,#B027FA, #fff);
}
.projectContainer .prjBox .prj6 {
    border: none;
    background-image: radial-gradient(circle, #FF702B, #fff);
}
.projectContainer .moreBtn {
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
}
.projectContainer .moreBtn svg {
    margin-left: 3px;
    margin-top: 10px;
}
.projectContainer .prjBox2 {
    margin-top: 20px;
    display: none;
}
.projectContainer .prjBox2.morePrj {
    display: block;
}

/* skill container */
.skillContainer {
    text-transform: capitalize;
}
.skillContainer h2 {
    font-weight: 700;
    font-size: 60px;
}
.skillContainer .skill {
    padding-top: 50px;
    margin-top: 50px;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.skillContainer .skill .skillFlex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
    border-bottom: 1px solid #424242;
    width: 100%;
}
.skillContainer .skill .skillFlex:last-child {
    margin: 0;
    border: none;
}
.skillContainer .skill .skillFlex h3 {
    font-size: 30px;
    font-weight: 700;
    color: #4E79E8;
    position: relative;
    margin-bottom: 30px;
}
.skillContainer .skill .skillFlex h3::after {
    content: "";
    display: block;
    position: absolute;
    height: 8px; width: 100%;
    bottom: 0px;
    background-color: #F9F991;
    z-index: -1;
}
.skillContainer .skill .skillFlex .skillDetail li {
    padding: 10px 0;
    font-size: 15px;
}
.skillContainer .skill .skillFlex .skillDetail li:last-child {
    padding-bottom: 50px;
}
.skillContainer .skill .skillFlex:last-child .skillDetail li:first-child {
    font-weight: 500;
    color: #4E79E8;
}

/* about container */
.aboutContainer {
    margin-top: 10px;
    padding: 100px 0 150px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.aboutContainer h2 {
    font-weight: 700;
    font-size: 55px;
    text-transform: capitalize;
}
.aboutContainer .consoleText {
    margin-top: 50px;
    height: 100px;
}
.aboutContainer .consoleText h3 {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 15px;
}
.aboutContainer .consoleText h3::after {
    content: '';
    margin-left: 10px;
    border-right: 5px solid #424242;
    animation: cursor 0.9s infinite ease;
}
@keyframes cursor {
    from { border-right: 5px solid #4E79E8; }
    to { border-right: 5px solid #424242; }
}
.aboutContainer .consoleText .resultTextBox {
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
}
.aboutContainer .consoleText .resultTextBox svg {  
    padding-top: 3px;
    margin-right: 10px;  
    font-weight: 500;
    font-size: 25px;
    width: 10px;
}
.aboutContainer .consoleText .resultTextBox svg path {  
    fill: #4E79E8;
}
.aboutContainer .consoleText .resultTextBox p {    
    font-weight: 500;
    font-size: 15px;
    height: 15px;
}

/* contact */
.contact {
    padding-bottom: 120px;
    position: relative;
}
.contact h3 {
    font-weight: 700;
    font-size: 40px;
}
.contact h4 {
    font-weight: 600;
    font-size: 26px;
}
.contact p {
    font-size: 15px;
}
.contact a {
    font-size: 14px;
    display: inline-block;
}

/* footer */
footer {
    padding: 12px 50px;
    font-size: 10px;
    font-weight: 400;
}

/* mouse cursor */
.mouseCursor {
    position: absolute;
    z-index: 9999;
    top: -50px; left: -50px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: none;
}
.mouseCursor svg {
    transition: 0.3s;
}
.mouseCursor svg.over {
    width: 70px; 
    height: 70px;
    transform: rotate(45deg);
}

/* goUp */
.goUp {
    font-size: 10px;
    text-transform: uppercase;
    position: fixed;
    right: 50px;
    bottom: 10px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 0;
}
.goUp svg {
    width: 10px;
    margin-left: 5px;
    margin-top: 2px;
}